body{
    background-image: url(https://fondosmil.com/fondo/17010.jpg);
    background-size: 120%;
    background-repeat:no-repeat;
}
h2{
    text-align: center;
    font-family: 'Original Surfer', cursive;
    font-size: 3em;
    color: aliceblue;
}
img{
    height: 550px;
}
@media (max-width: 900px ){
    img{
        height: 300px;
    }
    body{
        background-size: 200%;
    }
}